@import url(https://fonts.googleapis.com/css?family=Anton:regular);
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css";

div{
  text-align:left;
}

.newCar{
  border: blue solid 1px;
  display:inline-block;
  text-transform: capitalize;
}

.updateCar{
  border: red solid 1px;
  display:inline-block;
  align-self: center;
  text-transform: capitalize;
}
 .carInfo{
   border: 1px green solid;
   margin: auto 0;
   text-transform: capitalize;
 }

h1, h4{
  text-align:center;
}

body{
  display:flex;
  align-items:center;
  font-family:'Anton', sans-serif;
}

.title{
text-align:center;
margin-top: .7em;
}
